<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.tracer.unbacked-work-monitor</string>
    <key>ProgramArguments</key>
    <array>
        <string>REPLACE_WITH_BUN_PATH</string>
        <string>REPLACE_WITH_MONITOR_PATH</string>
    </array>
    <key>EnvironmentVariables</key>
    <dict>
        <key>HOME</key>
        <string>REPLACE_WITH_HOME</string>
        <key>PATH</key>
        <string>/opt/homebrew/bin:/usr/bin:/bin:/usr/local/bin</string>
        <key>UNBACKED_WORK_ROOTS</key>
        <string>REPLACE_WITH_ROOTS</string>
        <key>UNBACKED_WORK_TRUSTED_REMOTES</key>
        <string>origin</string>
        <key>UNBACKED_WORK_OUTPUT_DIR</key>
        <string>REPLACE_WITH_OUTPUT_DIR</string>
    </dict>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key><integer>3</integer>
        <key>Minute</key><integer>0</integer>
    </dict>
    <key>StandardOutPath</key>
    <string>REPLACE_WITH_OUTPUT_DIR/launchd.out.log</string>
    <key>StandardErrorPath</key>
    <string>REPLACE_WITH_OUTPUT_DIR/launchd.err.log</string>
</dict>
</plist>
